<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>621817003129-pt8o125v6v1o394c4hffghrr5endgas1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.621817003129-pt8o125v6v1o394c4hffghrr5endgas1</string>
	<key>API_KEY</key>
	<string>AIzaSyABfdhlSszSTh5Hw503gpFthRzf2FMlpxY</string>
	<key>GCM_SENDER_ID</key>
	<string>621817003129</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.ViTourism</string>
	<key>PROJECT_ID</key>
	<string>vitourism-62897</string>
	<key>STORAGE_BUCKET</key>
	<string>vitourism-62897.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:621817003129:ios:db720491983293373968a8</string>
</dict>
</plist>